<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Preview"/>

<f:section name="Header">
    <cb:link.editRecord uid="{data.uid}" table="{data.mainType}">
        {data.header}
    </cb:link.editRecord>
</f:section>

<f:section name="Content">

    <strong>Slides</strong>

    <ul class="mt-2">

        <f:for each="{data.slides}" as="slide">

            <li>

                <f:if condition="{slide.image}">
                    <f:for each="{slide.image}" as="image">
                        <f:image image="{image}" width="400" class="me-2 rounded" />
                    </f:for>
                </f:if>

                <strong>{slide.caption}</strong>

                <f:if condition="{slide.link.url}">
                        <strong class="ms-4">Link: </strong>
                        <f:link.typolink parameter="{slide.link}" target="_blank">{slide.link.url}</f:link.typolink>
                </f:if>

            </li>

        </f:for>

    </ul>

</f:section>

</html>
